/*Css Chung*/
body{
	font-family: 'Quicksand', sans-serif;
	color: #5c5c5c;
	background-color: #fff;
}
body a{
	/*-webkit-transition:background 300ms, color 300ms, border-color 300ms;*/
}
body.blog{
	/*background-color: #e9ebee;*/
}
@media (min-width: 1200px){
	.container{
		width: 1100px !important;
	}
}
.contain-home{
	/*margin-top: 20%;*/

}
@media(max-width: 680px){
	.hide-mobile{
		display: none;
	}
}
.contain-blog{
	/*margin-top: 2%;	*/
}
.clear-padding{
	padding: 0px;
}
.clear-padding-left{
	padding-left: 0px;
}
.clear-padding-right{
	padding-right: 0px;
}
.ui-checkboxradio-label .ui-icon-background{
	box-shadow: none;
}
.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon, .ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon{
	width: 16px;
	height: 16px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	border: 0px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
	border: 0px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border: 0px;
	background-color: transparent;
	color: #000;
}
.ui-icon-background{
	background-color: #ffbb12;
}
.ui-state-active .ui-icon-background{
	border-color: #ffbb12;
	background-color: #000;
}
.form-horizontal .form-group{
	margin: 0px -6px;
}
.form-horizontal .control-label{
	text-align: left;
}

/* tab vertical*/
.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { padding: 0px;float: right; width: 50%;; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0px; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 0px;float: right; width: 50%;}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-right: 10px;
	padding-left: 10px;
}

/*Css file header.blade.php*/
.header-logo{
	background: #fff;

}
.logo img{
	padding: 10px 0px;
}
.show-screen{
	border-bottom: 1px solid hsla(0,0%,59%,.55);
	position: relative;
}
.bg-header{
	margin-bottom: 0px;
	border-bottom: 0px solid #c4c4c4;
	background: #fff !important;
	transition: .5s;
	min-height: 32px;
	/*background: rgba(0,0,0,.45);*/
}
.bg-header:after{
	content: ' ';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

}
.bg-header.navbar-fixed-top{

	transition: transform .9s ease,-webkit-transform .9s ease;
	/*box-shadow: 0px 2px 10px -2px #333;*/
	background: rgba(0,0,0,.95);
}
.bg-container{
	min-height: 32px;
	/*background: linear-gradient(to bottom,  #ffffff 0%,#e3c4d4 100%);*/
	/*border-bottom: 1px solid #d2cadf;*/
	/*border-top: 5px solid #af63c6;*/


}
.container-fluid{
		padding: 0px;
		/*display: table;*/
		/*margin: 0px auto;*/
	}
@media(max-width: 768px){
	.bg-header{
		/*background: #c5d1dc;*/
	}
	.container-fluid{
		display: block;
	}
}
#menu-mobile,#menu-mobile1{
	float: right;
	/*padding: 0px 30px 0px 0px;*/
	/*display: table !important;*/
	margin: 0px auto;

}
.navbar-brand{
	padding: 5px 0px 5px 30px;
	height: auto;
	/*width: 75%;*/
}
.navbar-brand>img{
	width: 100%;
	padding: 15px 0px;
}

.link-home{
	/*color: #001B80 !important;
	font-size: 23px;
	padding: 5px 0px !important;
	/*min-width: 55px;*/
	text-align: center;
	text-transform: none;
}


.mn-header{
	float: none;
	/*padding-top: 5px;*/
	/*margin-left: -45px;*/
	height: 37px;

}
.mn-header li{
	/*border-left: 1px solid #959ba1; */
	padding: 0px 20px;
	/*padding-bottom: 19px;*/
	/*margin: 15px 0px;*/
	/*border-left: 1px solid #7A7A77;
	border-right: 1px solid #7A7A77;*/
}
.mn-header li:hover{
	/*border-top: 2px solid #0082c7;*/
	/*background: #001B39 !important;*/
	/*border: 3px solid;*/
	/*border-color: #79b8f5;*/
	/*border-top-right-radius: 3px;
	border-top-left-radius: 3px;*/
	/*border-bottom: 4px solid #468ae7;*/

}
.link-header{
	color: #555 !important;
	font-size: 15px;
	/*padding: 0px !important;*/
	padding: 35px 10px !important;
	min-width: 80px;
	text-align: center;
	text-transform: none;
	font-weight: bold;
	border-top: 3px solid #fff;
	/*text-transform: uppercase;*/
}

.btn-nav-mobile{
	border-color: #7a7a7a;
	background-color: transparent;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
}
.btn-nav-mobile:focus, .btn-nav-mobile:hover{
	background-color: #468ae7 !important;
}
.btn-nav-mobile .icon-bar{
	background-color: #051039;
}
.btn-nav-mobile:focus .icon-bar, .btn-nav-mobile:hover .icon-bar{
	background-color: #fff;
}

.image-contact{
	float: right;
    position: absolute;
    right: 0px;
    top: 11px;
    /*padding-top: 9px;*/
}


.contain-submenu{
	display: none;
	position: absolute;
	width: 750px;
	left: -295px;
	top: 60px;
	background-color: #fff;
	box-shadow: 2px 2px 5px  #7a7a7a;
	border-top: 5px solid #00a9e0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.contain-submenu h2{
	margin: 0px;
	margin-top: 10px;
	padding: 5px;
	padding-bottom: 10px;
	font-size: 18px;
	border-bottom: 1px solid #0d77e4;

}
.contain-submenu ul{
	list-style-type: none;
	padding-left: 5px;
}
.contain-submenu ul li{
	padding: 5px 2px;
}
.show-submenu{
	display: block;
}


@media (max-width: 767px){
	.mn-header{
		width: 100%;
		margin: 0px;
		border-top: 1px solid #cccccc;
		height: auto;
	}
	.mn-header li{
		padding: 0px 15px;
	}
	#menu-mobile{
		float: none;
		padding: 15px;
	}
}
@media(max-width: 991px){
	#menu-mobile{
		padding: 10px 0px 0px 0px;
	}
	.mn-header li{
		padding: 6px 12px;
	}
	.navbar-brand{
		padding: 5px 0px 5px 5px;
		width: 75%;
	}
}
.logo{
	position: relative;
	z-index: 9999;
	width: 135px;
}
.logo img{
	/*width: 100%;*/
}
@media (max-width: 767px){
	.navbar-brand{
		width: 227px;
	}
	.link-header{
		text-align: inherit;
	}
}
@media (max-width: 991px){
	.image-contact{
		display: none;
	}
}


/*file slider.blade.php */
.box-slider{
	/*position: absolute;*/
	width: 100%;
	position: relative;
}
.box-slider:after{
	/*content: ' ';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;*/
	/*background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.48)
      10%,rgba(0,0,0,0) 38%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.8) 81%,rgba(0,0,0,0.8) 100%);*/
}
.slider{
	position:relative;
	margin:0 auto;
	top:0px;
	left:0px;
	width:1300px;

	overflow:hidden;
	visibility:hidden;
}
.bx-wrapper{
	box-shadow: none;
	border: 0px;
	margin-bottom: 10px;
}
.bx-wrapper .bx-pager{
	padding-top: 0px;
	bottom: 10px;
}
.slider .loadding{
	position:absolute;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.7);
}
.slider .loadding div:first-child{
	filter:alpha(opacity=70);
	 opacity:0.7;
	 position:absolute;
	 display:block;
	 top:0px;
	 left:0px;
	 width:100%;
	 height:100%;
}
.slider .loadding div:last-child{
	position:absolute;
	display:block;
	background:url('img/loading.gif') no-repeat center center;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.slider .slides{
	cursor:default;
	position:relative;
	top:0px;
	left:0px;
	width:1300px;
	height:450px;
	overflow:hidden;
}
.jssorb05 {
	position: absolute;
}
.jssorb05 div,
.jssorb05 div:hover,
.jssorb05 .av {
	position: absolute;
	width: 16px;
	height: 16px;
	background: url('img/b05.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb05 div {
	background-position: -7px -7px;
}
.jssorb05 div:hover,
.jssorb05 .av:hover {
	background-position: -37px -7px;
}
.jssorb05 .av {
	background-position: -67px -7px;
}
.jssorb05 .dn,.jssorb05 .dn:hover {
	background-position: -97px -7px;
}
.jssora22l,.jssora22r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 58px;
	cursor: pointer;
	background: url('img/a22.png') center center no-repeat;
	overflow: hidden;
}
.jssora22l {
	background-position: -10px -31px;
}
.jssora22r {
	background-position: -70px -31px;
}
.jssora22l:hover {
	background-position: -130px -31px;
}
.jssora22r:hover {
	background-position: -190px -31px;
}
.jssora22l.jssora22ldn {
	background-position: -250px -31px;
}
.jssora22r.jssora22rdn {
	background-position: -310px -31px;
}
.jssora22l.jssora22lds {
	background-position: -10px -31px;
	opacity: .3;
	pointer-events: none;
}
.jssora22r.jssora22rds {
	background-position: -70px -31px;
	opacity: .3;
	pointer-events: none;
}


/*file giave.blade.php*/
.title h2{
	text-align: center;
	color: #FFAA26;
	font-weight: bold;
}
.price-grid{
	border: 1px solid #eee;
    border-right: none;
    border-bottom: none;
    margin: 0 0 5px;
}
.fares {
    border: 1px solid #eee;
    border-left: none;
    border-top: none;
    width: 244px;
    height: 134px;
    float: left;
    padding: 20px 20px 0;
}
.fares.large-fares {
    height: 268px;
}
.fares a {
    text-decoration: none;
    color: #595955;
    display: block;
}
.fares a:hover{
	text-decoration: none;
}
.fares img {
    margin: 0 0 20px;
}
.fares h2 {
    color: #ffaa26;
    font-size: 1.325em;
    margin: 0 0 5px;
    line-height: 1.1;
    /*font-family: Helvetica, Arial, sans-serif;*/
    letter-spacing: 0.01em;
    font-weight: bold;
}
.mb-frm {
    font-size: 16px!important;
}
.smaller-names {
    font-size: 16px!important;
}
.mb-price {
    font-size: 2em;
    font-weight: 400;
    background: url(../images/from-eng.png) no-repeat 0 center;
    padding: 0 0 0 12px;
    height: 29px;
    line-height: 29px;
    margin: 0 0 5px;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.price-cta {
    background: url(../images/sprite-home.png) no-repeat 0 -562px;
    padding: 0 0 0 24px;
    height: 19px;
    line-height: 19px;
    display: block;
    text-decoration: none;
    color: #595955;
    font-size: 12px;
    margin: 0px;
}

/* file detail.blade.php */
.content{
	background-color: #ffffff;
	padding: 5px;
	margin-bottom: 20px;
	/*border: 1px solid;*/
	/*border-color: #e5e6e9 #dfe0e4 #d0d1d5;*/
	border-radius: 3px;
	padding-top: 0px;
}
h1.pgtitle{
	font-size: 25px;
	padding: 5px 0px;
	margin: 0px 0px;
	margin-bottom: 5px;
	border-bottom: 1px solid #c4c4c4;
	color:#02458d;
}
.description{
	text-align: justify;
	font-family: arial;
	color: #313030;
	padding: 5px;
    padding-top: 10px;
    font-size: 15px;
}
@media (max-width: 768px){
	.description input,.description img{
		width: 100% !important;
		height: auto !important;
	}
}


.box-giave{
	border-bottom: 1px solid #c4c4c4;
    padding: 0px 5px;
}
.box-giave:hover{
	color: #d9272d;
}
.box-giave .left{
	width: 60%;
    float: left;
    padding: 10px 0px 10px 0px;
}
.box-giave .left .from-to, .box-giave .right .price{
	font-size: 18px;
    color: #333;
    font-weight: bold;
}
.box-giave .right{
	padding: 10px 0px 10px 0px;
    text-align: right;
}
.box-giave:hover .left .from-to, .box-giave:hover .right .price{
	font-size: 18px;
    color: #d9272d;
    font-weight: bold;
}

/* file box-cat.blade.php*/
.navigation-box{
	/*background-color: #fff;*/
	margin-bottom: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/*box-shadow: 0 4px 8px #888;*/
	/*border: 1px solid;*/
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.navigation-box h2{
	margin: 0px;
	padding: 10px 7px;
	/*background-color: #ec4012;*/
	color: #FFAA26;
	font-size: 20px;
	border-bottom:2.5px solid;
	border-color: #FFAA26;
	padding-left: 0px;
}
.navigation-box h2 span{
	/*background: #0393a6;*/
	padding: 9.5px 0px;
    font-weight: 600;
}
.navigation-box h2:hover{
	/*color: #FF9966;*/
}
.navigation-box .box-link{
	list-style-type: none;
	padding-left: 10px;
    margin: 0px;
    border: #ccc 1px solid;
    border-top: none;
    background: #fff;
}
.navigation-box .box-link li{
	padding: 5px 0px;
	font-size: 14px;
	margin-left: -10px;
	/*border-bottom: 1px solid #29000c;*/
}
.navigation-box .box-link li:last-child{
	border-bottom: 0px;
}
.navigation-box .box-link li:hover {
	background-color: #eee;
	border-color: #eee #eee #ddd;

}
.navigation-box .box-link li:hover a{
	color: #1b3f95;
	/*font-weight: bold;*/
}
.navigation-box .box-link li a{
	color: #454444;
	text-decoration: none;
	font-size: 15px;
	padding-left: 10px;
}

/*file footer.blade.php*/
footer{
	/*border-top: 1px solid #dddddd;*/
	/*background: linear-gradient(to bottom,  #e6e6e6 0%,#ffffff 100%);*/
	/*padding: 20px 0px;*/
	background: #E6E7E8;
	position: relative;
	/*padding-bottom: 60px;*/
}
footer .container{
	padding: 20px 0px;
}
footer .ft{
	padding-left: 30px;
	padding-right: 30px;
}
footer .ft:nth-child(2){
	/*border-left: 1px solid #484747;*/
}
footer .ft:nth-child(3){
	/*border-left: 1px solid #484747;*/
}

.image-footer{
	margin: 0px auto;
    display: block;
    margin-top: -60px;
    background: #1f5f79;
    border-radius: 50px;
    padding: 10px;
}
@media(max-width: 768px){
	footer{
		display: inline-block;
		margin-top: 30px;
	}
	footer .ft{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	footer .ft .bg-image{
		padding: 20px !important;
	}
}
.ft img{
	/*width: 100%;*/
	/*max-width: 188px;
	max-height: 50px;
	margin-top: 5px;*/
}
.ft h5{
	padding: 15px 0px;
	padding-bottom: 0px;
	font-size: 15px;
	color: #6F6F6B;
	margin: 0px;
	font-weight: bold;
	margin-bottom: 24px;
	/*text-transform: uppercase;*/
	letter-spacing: 1.5px;
	text-align: center;
	border-bottom: 1px solid #6F6F6B;
}
.ft h5:after{
	content: "";
    height: 1px;
    display: block;
    /*background-color: #80c435;*/
    border-color: #80c435;
    color: #fff!important;
    margin: 18px auto -1px;
    width: 60px;
}
.ft ul{
	list-style-type: none;
	padding-left: 0px;
	text-align: center;
}
.ft ul li{
	/*padding: 20px 15px;*/
}
.ft ul li a{
	text-align: center;
	color: #929291;
	font-size: 13px;
	-webkit-transition:background 300ms, color 500ms, border-color 300ms;
}
.ft ul li a:hover{
	text-decoration: none;
	color: #FFAA26;
}
.ft .right{
	/*float: right;*/
	padding-top: 13px;
}
.copy-right{
	/*background: #181818;*/
	/*position: absolute;*/
	bottom: 0px;
	width: 100%;
	left: 0px;
}
.copy-right h5{
	/*padding: 38px 5px;*/
	font-size: 14px;
	text-align: center;
	margin: 0px;
	color: #838383;
	/*font-weight: 200;*/
	text-transform: none;
}
@media (max-width: 768px){
	.ft{
		text-align: center;
		border: 0px !important;
	}
	.ft .right{
		float: inherit;
	}
	.copy-right h5{
		text-align: center;
	}

}
@media (max-width: 424px){
	.ft ul{
		display: block;
	}
	.ft ul li{
		padding: 10px;
	}
	.ft img{
		width: 100%;
	}
}






/* file breadrum.blade.php */
.d-breadcrumb{
	background-image: url('../images/bg-breadrum.jpg');
	background-repeat: repeat-x;
	height: 173px;
	width: 100%;
}
.breadcrumb{
	margin: 0px;
	margin-top: 10px;
	font-size: 15px;
	background-color: #fff;
	/*border-bottom: 1.5px solid;
	border-left: 1.5px solid;
	border-top: 1px solid;
	border-right: 1px solid;*/
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	/*position: absolute;*/
	top: -37px;
	margin-bottom: 10px;
}
.breadcrumb li a{
	color: #051039;
}
.breadcrumb li.active a{
	color: #2e3237;
}
.breadcrumb li a:hover{
	text-decoration: none;
	color: #051039;
}
.title-breadcrumb{
	/*position: absolute;*/
    top: -90px;
    color: #fff;
    font-size: 28px;
    padding-left: 16px;
}
.breadcrumb>.active{
	color:#2e3237;
}
@media(max-width: 375px){
	.title-breadcrumb{
		top: -110px;
	}
	.breadcrumb{
		top: -57px;
	}
}

/* file tintuc.blade.php */
.box-tt{
	width: 25%;
	float: left;
	margin: 0px;
	padding: 0px;
	position: relative;
}
.box-tt .box-img{
	width: 100%;
}
.box-tt .box-img img{
	width: 100%;
}
.box-tt .box-bg{
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0)
      10%,rgba(0,0,0,0) 38%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.75) 81%,rgba(0,0,0,0.75) 80%);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.box-hover{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	transition: .3s;
	background: rgba(0,0,0,.5);
}
.box-tt .box-body{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 2;
	overflow:hidden;
}
.box-tt .box-body h3{
	padding-left: 15px;
	color: #fff;
	font-family: arial;
	margin-bottom: 10px;
}
.box-hover-detail{
	-webkit-transition: margin 200ms ease-out;
	margin-bottom: -40px;
	position: relative;
	height: 40px;
}
.box-hover-detail a{
	color: #4692e7;
	font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: 2px;
    left: 25px;
    font-family: arial;
}
.box-hover-detail .divide{
	border-color: #4692e7;
	border-bottom-width: 5px;
    border-bottom-style: solid;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.box-tt:hover .box-hover{
	opacity: 1;
}
.box-tt:hover .box-hover-detail{
	margin-bottom: 0px;
}
#tintuc{
	display: inline-block;

}
#tintuc h2 {
	margin: 0px;
    margin-bottom: 0px;
    padding: 5px 0px;
    font-size: 25px;
    text-align: center;
    position: relative;
    /* display: table; */
    /* background-color: #fff; */
    color: #051039;
    font-weight: 700;
    width: 100%;
}
#tintuc a.box{
	border: 0px;
	box-shadow: none;
	margin-bottom: 0px;
}
#tintuc a.box h2{
	padding: 0px;
	font-weight: 600;
	margin-bottom: 15px;
}
#tintuc .box-body{
	padding: 15px 0px;
}
#tintuc a.box .text-des{
	color: #323232;
}
#tintuc .link-box{
	/*padding: 0px 15px;*/
	color: red;
	font-weight: 100;
}
@media(max-width: 768px){
	#tintuc{
		/*display: block;*/
	}
	.contain{
		/*max-width: 500px;*/
		margin-left: auto;
		margin-right: auto;
	}
	.box-tt{
		width: 100%;

	}
}
/* gioithieu.blade.php */
#gioithieu{
	padding: 10px;
	border: 0px;
	padding-bottom: 20px;
	background: transparent;
	background: #fff;
}
#gioithieu div.pgtitle{
	padding-bottom: 20px;
}
#gioithieu h1.pgtitle {
	color: #FFAA26;
	font-weight: 600;
	font-size: 29px;
	border: 0px;
	display: inline-block;
	/*border-color: #02458d;*/
	font-family: "Poppins", sans-serif;
	font-style: normal;
}
.gioithieu img{
	width: 100%;
	height: auto;
	margin-top: 25px;
}
#gioithieu .description{
	color: #000;
	text-align: justify;
	padding-bottom: 34px;
	font-family: arial;
}
#gioithieu .description p{
	margin-bottom: 20px;

}

/* file box-flight.blade.php */
#box-flight{
	position: absolute;
	top: 8%;
	left: 7%;
}
.box-flight{
	width: 450px;
}
.box-flight h1{
	margin: 0px;
	padding: 10px 13px;
	width: 50%;
	background: #ffffff;
	font-size: 15px;
	color: #003e6d;
	font-weight: bold;
}
.box-flight .box-form{
	background-color: #ffffff;
	padding: 20px 5px;
}
@media (max-width: 1024px){
	#box-flight{
		display: none;
	}
}
@media (min-width: 1228px){
	#box-flight{
		top: 10%;
	}
}
/* tintuc-2.blade.php */
.ui-widget.ui-widget-content{
	border: 0px;
}
.ui-tabs .ui-tabs-nav{
	border: 0px;
	background-color: transparent;
	/*border-bottom: 1px solid #fcae16;*/
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	width: 100%;
	padding: 25px 10px;
	font-size: 18px;
    font-weight: 600;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
	color: #fff !important;
	background-color: #f4df83;

}
.box-des p{
	font-size: 12px;
}
.box-des-right h4{
	font-size: 14px;
}
.tabs .box-image{
	width: 100%;
}
.tabs .box-image img{
	width: 100%;
}
.ui-tabs .ui-tabs-nav li{
	white-space: normal;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-active:before{
	display: block;
    content: " ";
    position: absolute;
    width: 18px;
    height: 68px;
    left: -18px;
    background: url(../images/arrow-act.png);
    top: 0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background-color: #efeeee;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border: 0px !important;
	background-color: transparent;
}
/* dich-vu.blade.php */
.dv{
	list-style-type: none;
	padding-left: 10px;
}
.dv li{
	position: relative;
}
.dv li h4{
	padding-left: 41px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.show-dv-icon{
	position: absolute;
    width: 30px;
    height: 30px;
    background: #18c0da;
    font-size: 16px;
    padding: 7px 8px;
    border-radius: 50%;
    color: #fff;
    top: -3px;
}

/* box-cat-2.blade.php */
.home{
	border: 0px;
	padding-left: 25px;
    padding-right: 20px;
}
.home h2{
	font-size: 25px;
    padding: 5px 0px;
    margin: 0px 0px;
    margin-bottom: 5px;
    /*border-bottom: 1px solid #c4c4c4;*/
    /*color: #662046;*/
    background-color: #fff;
    padding-top: 20px;
}
.home .box-link li a{
	color: #5c5c5c;
    text-decoration: none;
    font-size: 15px;
    padding-left: 8px;
}

/* quang-cao.blade.php */
.box-km{
	padding: 10px 0px;
	/*border: 1px solid #ccc;*/
	/*border-top: none;*/
}

/* sidebar.blade.php */
.sidebar h3{
	margin: 0px;
	padding: 10px 7px;
	color: #FFAA26;
	border-bottom: 2.5px solid;
    border-color: #FFAA26;
    padding-left: 0px;
    font-size: 20px;
    font-weight: bold;
}
.sidebar ul{
	list-style-type: none;
	padding: 5px;
}
.sidebar ul li{
	/*padding: 3px 4px;*/
}
.sidebar ul li a{
	color: rgba(5, 16, 57, 0.82);
	font-size: 15px;
	-webkit-transition:background 300ms, color 500ms, border-color 300ms;
}
.sidebar ul li a:hover{
	color: #FFAA26;
}
.lienquan{
	margin-bottom: 10px;
	display: inline-block;
}
.lienquan .des{
	padding: 0px;
}
.lienquan h3{
	margin: 0px;
	padding: 5px;
	font-size: 18px;
}
.des h3{
	margin:0px;
	padding: 5px;
	font-size: 18px;
	/*font-family: "baker-signet-web",serif;*/
}
#menu_detail {
	display: table;
	padding: 5px;
	border: .8px solid #c4c4c4;
	float: left;
	margin-right: 10px;
}
#menu_detail .title{
	text-align: center;
	padding: 0px 75px;
	font-size: 18px;
}
#menu_detail ul{
	list-style-type: none;
	padding: 0px;

}
#menu_detail ul li{
	padding: 2px 5px;
}
.btn-share{
	float: right;
	margin-top:10px;
	margin-right:10px;

}
@media(max-width:425px){
	.btn-share{
		float: none;
		margin-left: 10px;
	}
}

#social-platforms {
  /*position:relative;*/
  top:100px;
  top:25vh;
  font-size:1rem;
  /*text-align:center;*/
  overflow:hidden;
  padding-bottom: 20px;
}
#social-platforms h3{
	font-size: 15px;
}
/*Pen code from this point on*/
.btn {
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden;
  padding:0px;
  border: 0px;
}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,.btn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btn:focus > span {
  background:#9a9a9a;

}

.btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:17px;
  color:#fff;
  background:#212121;
  padding: 12px 23px 12px 14px;
}

.btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:11px;
  right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  border-radius:0 5px 5px 0;
  font-size: 11px;
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
  color:#3b5998
}

.btn-facebook > span {
  background:#3b5998
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
  color:#55acee
}

.btn-twitter > span {
  background:#55acee
}

/*Google*/
.btn-googleplus:hover > i,.btn-googleplus:focus > i {
  color:#dd4b39
}

.btn-googleplus > span {
  background:#dd4b39
}

/*Pinterest*/
.btn-pinterest:hover > i,.btn-pinterest:focus > i {
  color:#cb2028
}

.btn-pinterest > span {
  background:#cb2028
}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {
  color:#007bb6
}

.btn-linkedin > span {
  background:#007bb6
}


.lienquan > h3{
	font-weight: bold;
	font-size: 20px;
}
.lienquan .box-img img{
	width: 100%;
	max-height: 130px;
}
.lienquan .des{
	text-align: left;

}
.lienquan .des h3{
	font-size: 15px;
}

.btn-facebook{
	margin-top: 2px !important;
}
#___plus_0{
	vertical-align: bottom !important;
}