
$color-title: #028442;
$color-content: #111;
$color-footer: #48C3E2;
@mixin css-content() {
  color: $color-content;
  text-align: justify;
  background-color: #fff;
  margin-top: 8px;
  padding-bottom: 0px;
  font-family: 'Quicksand', sans-serif !important;
  p{
	  font-family: 'Quicksand', sans-serif !important;
  }
  span{
	  font-family: 'Quicksand', sans-serif !important;
  }
}
