
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
    background: #ebebeb;

}
@media(min-width: 1366px){
    // .contain-home{
    //     width: 1260px !important;
    // }
}
a{
    transition: .3s;
}
a:hover{
    text-decoration: none;
}
a:focus{
    background: transparent !important;
}

.text-white{
    color: #fff;
}

.breadcrumb{
	margin: 5px 0px;
    background-color: transparent;
    border-bottom: 2.5px solid $color-title;
    margin-top: -15px;
    padding-left: 6px;
	li a{
		color: $color-title;
        font-size: 12px;
	}
	li a:hover{
		color: $color-title;
	}
}
.breadcrumb>li+li:before{
    content: "\f105";
    font:normal normal normal 14px/1 FontAwesome;
}
//header
.blog header{
	position: relative;
	background: #fff !important;
	li{
        padding: 0px 15.5px;
        transition: all 0.6s cubic-bezier(0.940, 0.850, 0.100, 0.620);
        border-right-width: 0px;
        a {
            font-size: 15px;
            padding: 17px 0px !important;
            border: 0px;
            text-align: center;
			color: $color-title !important;
			font-weight: normal;
			min-width: auto;
            .fa{
                text-align: center;
                display: none;
                font-size: 25px;
            }
        }

    }
    li:hover, li.active{
        // background: #018dcf;
        a{
            // color: #48c3e2 !important;
            background: transparent !important;
            font-weight: bold;
        }
    }
}
header{
    position: absolute;
    width: 100%;
}
@media(max-width: 1023px){
    header{
        position: static;
    }
    .bg-container{
        width: 100%;
    }
}

@media(min-width: 991px){
	.bg-header{
		background: transparent !important;
	}
}

.bg-header::after{
	display: none;
}
.bg-container{
    // background: rgba(255, 255, 255, .7);
    padding: 0px;
}
.link-header{
    font-size: 17px;

}

.btn-nav-mobile{
    margin: 11px;
}
#menu-mobile{
	margin-left: 15px;
}
.mn-header{
    float: none;
    height: auto;
    background-color: #fff;
    margin-top: 15px;
    li{
        padding: 0px 15.5px;
        transition: all 0.6s cubic-bezier(0.940, 0.850, 0.100, 0.620);
        border-right:1px solid #c4c4c4;
        a {
            font-size: 15px;
            padding: 17px 0px !important;
            border: 0px;
            text-align: center;
			color: $color-title !important;
			font-weight: normal;
			min-width: auto;
            .fa{
                text-align: center;
                display: none;
                font-size: 25px;
            }
        }

    }
    li:hover, li.active{
        // background: #018dcf;
        a{
            // color: #fff !important;
            background: transparent !important;
            font-weight: bold;
        }
    }
}
.navbar-brand{
    padding: 9px 0px 5px 0px;
    background: #fff;
    margin-top: 15px;
    margin-left:15px !important;
	// width: 90%;
    img{
        padding: 0px;
    }
}

// .blog{
// 	header{
// 		background: #fff;
// 	}
// 	.container-fluid{
// 		// background: #fff;
// 	}
// 	.link-header{
// 		color: #555 !important;
// 	}
// 	.mn-header li:hover a, .mn-header li.active a{
// 		color: #64d1e3 !important;
// 	}
// }

//slider
.box-slider::before{
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 1;
}

.bx-wrapper img{
    width: 100%;
}

//dịch vụ
#service{
    padding: 20px 0px;
    display: block;
    background: #ebebeb;
    .sv{
        padding: 0px 10px;
        padding-bottom: 15px;
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        div.img{
            padding: 20px;
            text-align: center;
        }
        a:hover{
            text-decoration: none;
            div.link{
                span{
                    background: #018dcf;
                    color: #fff;
                    box-shadow: 0 0 8px rgba(0,0,0,0.7);
                }
            }
        }
        p{
            text-align: center;
        }
        p.title{
            margin: 0px;
            padding: 0px;
            font-size: 16px;
            color: #333;
            font-weight: bold;
        }
        p.des{
            color: #666;
            font-size: 14px;
            margin: 5px 0px;
        }
        div.link{
            text-align: center;
            span{
                padding: 5px 10px;
                transition: .4s;
            }
        }
    }

}

//Giới thiệu
#gioithieu{
    background: #fff;
    .title{
        h1 {
            
            color: $color-title;
            font-weight: bold;
            padding: 10px 0px;            
            margin: 0px -10px;
            padding-left: 10px;
            padding-top: 0px;
            span{
                border-bottom: 2.5px solid;
                font-size: 25px;
                padding-bottom:5px;
            }

        }
        a{
                font-size: 15px;margin-left: 25px;color: #467fe7;text-decoration: none;position: absolute;bottom: 0px;right: 5px;
        }
        @media(max-width: 425px){
            a{
                bottom:-18px;
            }
        }
    }
    .description{
        @include css-content();
        @media(max-width: 767px){
            img, input{
                width: 100%;
                height: auto;
            }
        }
        .img-hang{
            text-align: center;
            a{
                display: inline-block;
                width: 15%;
                img{
                    width: 100%;
                }
            }
            @media(max-width: 640px){
                a{
                    width: 30%;
                }
            }
        }

        img,input{
            display: block;
            margin: 0px auto;
        }
    }
}

//side bar
.sidebar{
    padding: 10px 5px;
    margin-bottom: 20px;
    // background: #fff;
    border-radius: 5px;
    h3{
        margin: 0px -5px;
        margin-top: -10px;
        padding-left: 10px;
        // color: $color-title;
        border-color: $color-title;
        border-width: 0px;
    }
	h3.rs{
		border: 0px !important;
		position: relative;
		::after{
			height: 2.5px;
			background: $color-title;
			width: 50%;
			content: ' ';
			position: absolute;

		}
	}
	h3.rs::after{
		height: 2.5px;
	    background: #63d0e2;
	    width: 50%;
	    content: ' ';
	    position: absolute;
	    left: 9px;
	    bottom: 0px;
	}
    ul{
        margin: 0px;
        li{
            background-color: #fff;
            margin-bottom: 7px;
            a:hover{
                color: $color-title;
            }
        }
    }
    .box-km{
        text-align: center;
        img{
            width: 100%;
        }
    }
}


//footer
footer{
    background: $color-footer;
    display: block;
    .col{
        div{
            display: inline-block;
        }
        .title{
            color: #fff;
            font-weight: bold;
            text-align: left;
            border-width: 0px;
            margin: 0px;
            padding: 20px 0px;
			position: relative;
        }
		.title::after{
			content: ' ';
			height: 2px;
			width: 27%;
			background: #fff;
			position: absolute;
			left: 0px;
			bottom: 10px;
		}
        ul{
            list-style-type: none;
            padding: 0px;
            display: inline-block;
            li{
                color: #fff;
                p{
                    margin: 0px;
                }
                a{
                    color: #fff;
                    transition: color .4s;
                }
                a:hover{
                    text-decoration: none;
                    color: #fff;

                }
            }
        }
        img{
            width: 100%;
        }
    }
    .last{
        margin-top: 40px;
    }
    @media(max-width: 768px){
        .last{
            margin-top: -10px;
        }
    }
    .copy-right{
        h5{
            text-align: right;
			color: #fff;
        }

    }
}
footer .col > div{
    position: relative;
    width: 100%;
    height: 170px;
}
footer .col > div > img{
    position: absolute;
    width: 110px;
    top: 0px;
    left: 0px;
    width: 30%;
}
footer .col > div > ul{
    position: absolute;
    top: 0px;
    left: 30.5%;
    // width: auto;
}
footer .col > div > ul > li > img{
    width: 100%;
}
@media(max-width:425px){
    // footer .col > div{
    //     height: auto;
    // }
    // footer .col > div > img{
    //     margin-top: 0px;
    //     position: static
    // }
    // footer .col ul{
    //     display: block;
    //     position: static !important;
    //     margin-top: 5px;
    // }
    footer .col > div > ul > li > img{
        width: 104%;
    }
}

.padding-sm-left{
    padding-left: 15px;
}

//detail
#detail{
    // background-color: #ffffff;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    padding-top: 0px;
    .title{
        h1{
            font-size: 20px;
            color: $color-title;
            font-weight: bold;
            padding: 10px 0px;
            
            margin: 0px -5px;
            padding-left: 10px;
            padding-top: 0px;
            border-radius: 3px;
            span{
                border-bottom: 0px !important;    
            }
        }
    }
    .description{
        @include css-content();
        @media(max-width: 767px){
            img, input{
                width: 100%;
                height: auto;
            }
        }
        .img-hang{
            text-align: center;
            a{
                display: inline-block;
            }
        }
        h2{
            border-bottom: 0px;
            padding-top:0px;
        }

        img,input{
            display: block;
            margin: 0px auto;
        }
        p{
            img,input{
                display: block;
                margin: 0px auto;
            }
            text-align: justify;
            a{

                display: inline-block;
                img{
                    widows: 100%;
                }
            }
        }
    }
}

//danh sách
$font-size: 16px;
$line-height: 1.4;
$lines-to-show: 2;
#list{
    // background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    h1.title{
        color: $color-title;
        font-weight: bold;
        padding: 10px 0px;
        // border-bottom: 2.5px solid;
        margin: 0px 0px;
        padding-left: 10px;
        padding-top: 0px;
        border-radius: 3px;
        font-size: 20px;
        // margin-bottom: 10px;
        span{
            border-bottom: 0px !important;
        }
    }
    .list-new{
        .l-new-content{
            position: relative;
            margin-bottom: 20px;
            padding: 0px 0px;
            background-color:#fff;
            .box-img{
                display: inline-block;
                width: 34%;
                img{
                    width: 100%;
                }
            }
            .box-content{
                width: 65%;
                float: right;
                .box-title{
                    a{
                        transition: .5s;
                    }
                    a:hover{
                        text-decoration: none;
                        color: $color-title;
                    }
                }
                h2{
                    font-size: 18px;
                    margin: 0px;
                    padding-bottom: 5px;
                    font-weight: bold;
					color: #color-title;
					padding: 5px;
                }
                p{
                    margin: 0px;
                }
                .des{
                    max-height: 98px;
                    p{
                        display: -webkit-box;
                        height: $font-size*$line-height*$lines-to-show;
                        font-size: $font-size;
                        line-height: $line-height;
                        -webkit-line-clamp: $lines-to-show;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: left;
                    }
                    .btn-chitiet{
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        font-size: 15px;
                        text-transform: uppercase;
                        padding: 2px 5px;
                        transition: .4s;
                        color: $color-title;
                    }
                    .btn-chitiet:hover{
                        background: $color-title;
                        color: #ffffff;
                        text-decoration: none;
                        box-shadow: 0px 0px 0px 2px rgba(#9da0a4 , .5);
                    }
                }
            }
            @media(max-width:767px){
                .box-img{
                    width: 100%;
                }
                .box-content{
                    width: 100%;
                    float: none;
                    .des{
                        max-height: auto;
                        p{
                            height: auto;

                        }
                    }
                }
            }
        }
        @media(max-width:767px){
            .l-new-content{
                padding-bottom: 37px;
            }
        }
    }

}
@media(max-width: 425px){
	.box-slider{
		display: none;
	}
}

.scrolltop {
    position: fixed;
    bottom: 25px;
    right: 30px;
    display: none;
	a{
		color: #f5f5f5;
		font-size: 20px;
        i{
            background-color: $color-title;
            border-radius: 50%;
            padding: 10px;
        }
	}
}
.show-on-mobile{
	display: none !important;
}
.show-on-destop{
	display: block;
}
@media(max-width:768px){
	.show-on-destop{display: none !important;}
	.show-on-mobile{display: block !important;}
}


.thanhtoan{
    h4.title{
        padding: 10px 2px;
        font-size: 15px;
        color: #000;
        padding-right: 10px;
        span i{
            font-size: 22px;
        }
    }
    h4.title:hover{
        cursor: pointer;
        color: $color-title;
    }
}

.box-gv h2.title{
    padding:10px 7px;
    text-align: left;
    background-color:transparent;
    border:0px;
    color: $color-title;
    span{
        border-bottom:2.5px solid $color-title;
        padding-bottom: 5px;
    }
}
.gv-price{
    margin-bottom:5px;
    position: relative;
    
    .btn-chitiet{
        position: absolute;
        width: 35%;
        height: 100%;
        right: -35%;
        z-index: 2;
        text-align: center;
        top: 0px;
        padding: 17px 0px;
        background-color: $color-title;
        color: #fff;
        transition: .5s;
        span{
            vertical-align: middle;
            text-align: center;
        }
    }
}
.gv-price .border-top-bottom{border:1px solid #c4c4c4;position:relative;overflow: hidden;}
.gv-price .border-top-bottom:hover{
    .btn-chitiet{
        right: 0px;
    }
}
.gv-price h2{margin:0px;padding:20px 0px;font-size:17px;padding-left:3px;color:$color-title;font-weight:bold; border:0px;
    position: relative;
    span{
        border-bottom:2.5px solid $color-title;
    }

}

.gv-text-top{position:absolute;right:3px;top:7px;font-size:14px;color:#666;}
.gv-text-price{position:absolute;right:3px;bottom:7px;font-size:14px;color:#00266b;}
.gv-text-price .price{
    color: red;
    font-weight: bold;
    font-size: 21px;
}

@-webkit-keyframes call-now-circle-animate {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: .1
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}
@-o-keyframes call-now-circle-animate {
    0% {
        -o-transform: rotate(0) kscale(.5) skew(1deg);
        -o-opacity: .1
    }
    30% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        -o-opacity: .5
    }
    100% {
        -o-transform: rotate(0) scale(1) skew(1deg);
        -o-opacity: .1
    }
}
@-moz-keyframes call-now-circle-fill-animate {
    0% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -moz-transform: rotate(0) -moz-scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}
@-webkit-keyframes call-now-circle-fill-animate {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}
@-o-keyframes call-now-circle-fill-animate {
    0% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -o-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}
@-moz-keyframes call-now-circle-img-animate {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }
}
@-webkit-keyframes call-now-circle-img-animate {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}
@-o-keyframes call-now-circle-img-animate {
    0% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
}
@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}
@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}
@-o-keyframes fadeOutRight {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}
@keyframes fadeOutRight {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}
@-moz-keyframes call-now-circle-animate {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}
@-webkit-keyframes call-now-circle-animate {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}
@-o-keyframes call-now-circle-animate {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}
@keyframes call-now-circle-animate {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}
@-moz-keyframes call-now-circle-fill-animate {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}
@-webkit-keyframes call-now-circle-fill-animate {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}
@-o-keyframes call-now-circle-fill-animate {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}
@keyframes call-now-circle-fill-animate {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}
@-moz-keyframes call-now-circle-img-animate {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}
@-webkit-keyframes call-now-circle-img-animate {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}
@-o-keyframes call-now-circle-img-animate {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}
@keyframes call-now-circle-img-animate {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

#call-now-phoneIcon{
    display: block !important;
}
@media(max-width:768px){
    #call-now-phoneIcon{
        display: block !important;
    }
}

.call-now-phone {
      position: fixed;
      visibility: hidden;
      background-color: transparent;
      width: 200px;
      height: 200px;
      cursor: pointer;
      z-index: 200000 !important;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      -webkit-transition: visibility .5s;
      -moz-transition: visibility .5s;
      -o-transition: visibility .5s;
      transition: visibility .5s;
      right: 150px;
  }
  .call-now-phone {
      left: 25px;
      bottom: -43px;
      zoom: 0.8;
  }
  .call-now-phone.call-now-show {
visibility: visible;
}
.call-now-ph-circle {
width: 160px;
height: 160px;
top: 20px;
right: 44%;
position: absolute;
background-color: transparent;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
border: 2px solid rgba(30,30,30,0.4);
border: 2px solid #bfebfc 9;
opacity: .1;
-webkit-animation: call-now-circle-animate 1.2s infinite ease-in-out;
-moz-animation: call-now-circle-animate 1.2s infinite ease-in-out;
-ms-animation: call-now-circle-animate 1.2s infinite ease-in-out;
-o-animation: call-now-circle-animate 1.2s infinite ease-in-out;
animation: call-now-circle-animate 1.2s infinite ease-in-out;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
.call-now-phone.call-now-color .call-now-ph-circle {
border-color: #00aff2;
border-color: #bfebfc 9;
opacity: .5;
}
.call-now-phone.call-now-color .call-now-ph-circle {
border-color: #e9393b !important;
opacity: .5;
}
.call-now-ph-circle-fill {
width: 100px;
height: 100px;
top: 50px;
right: 60%;
position: absolute;
background-color: #000;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
border: 2px solid transparent;
opacity: .1;
-webkit-animation: call-now-circle-fill-animate 2.3s infinite ease-in-out;
-moz-animation: call-now-circle-fill-animate 2.3s infinite ease-in-out;
-ms-animation: call-now-circle-fill-animate 2.3s infinite ease-in-out;
-o-animation: call-now-circle-fill-animate 2.3s infinite ease-in-out;
animation: call-now-circle-fill-animate 2.3s infinite ease-in-out;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
.call-now-phone.call-now-color .call-now-ph-circle-fill {
background-color: rgba(0,175,242,0.5);
background-color: #a6e3fa 9;
opacity: .75 !important;
}
.call-now-phone.call-now-color .call-now-ph-circle-fill {
background-color: #e9393b !important;
opacity: .75 !important;
}
.call-now-ph-img-circle {
width: 60px;
height: 60px;
top: 70px;
right: 70%;
position: absolute;
/*background: rgba(30,30,30,0.1) url(https://nhakhoadainam.vn/wp-content/plugins/call-back-hunter/css/../images/phone.png) no-repeat center center;*/
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
border: 2px solid transparent;
opacity: .7;
-webkit-animation: call-now-circle-img-animate 1s infinite ease-in-out;
-moz-animation: call-now-circle-img-animate 1s infinite ease-in-out;
-ms-animation: call-now-circle-img-animate 1s infinite ease-in-out;
-o-animation: call-now-circle-img-animate 1s infinite ease-in-out;
animation: call-now-circle-img-animate 1s infinite ease-in-out;
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
.call-now-phone.call-now-color .call-now-ph-img-circle {
background-color: #00aff2;
background-color: #00aff2 9;
}
.call-now-phone.call-now-color .call-now-ph-img-circle {
background-color: #e9393b !important;
}
.call-now-phone.call-now-color .call-now-ph-img-circle {
background-color: #e9393b !important;
}

.call-now-phone.call-now-color .call-now-ph-circle {
border-color: #e9393b !important;
opacity: .5
}

.call-now-phone.call-now-color .call-now-ph-circle-fill {
background-color: #e9393b !important;
opacity: .75 !important
}


.call-now-phone.call-now-color.idex-alo-hover .call-now-ph-img-circle, .call-now-phone.call-now-color:hover .call-now-ph-img-circle {
background-color: #81d742 !important;
}

.call-now-phone.idex-alo-hover .call-now-ph-circle,
.call-now-phone:hover .call-now-ph-circle {
border-color: #81d742 !important;
opacity: .5
}

.call-now-phone.call-now-color.idex-alo-hover .call-now-ph-circle-fill,
.call-now-phone.call-now-color:hover .call-now-ph-circle-fill {
background-color: #81d742 !important;
opacity: .75 !important
}
.call-now-ph-img-circle.fa.fa-phone{
    color: #fff;
    font-size: 45px;
    text-align: center;
    line-height: 60px;
}


#news{
    
    div.title{
        h2.title{
            color: $color-title;
            padding:0px;
            margin:0px;
            text-align: left;
            padding-bottom: 20px;
            padding-top:10px;
            background-color: transparent !important;
            span{
                border-bottom: 2.5px solid $color-title;
                padding-bottom: 5px;
                font-size: 25px;
            }
        }
    }
    .list{
        div.box{
            position: relative;
            padding: 0px;
            background-color: #fff;
            transition: .5s;
                .box-body{
                    .title{
                        margin:0px;
                        padding: 1px 5px;
                        padding-top: 7px;
                        padding-bottom: 10px;
                        font-size: 18px;
                        color: $color-title;
                    }
                    
                }
                .f-right,.f-left{
                    position: absolute;
                    bottom: 10px;
                    font-size: 20px;
                    color: $color-title;
                    border: 1px solid #c4c4c4;
                    border-radius: 50%;
                    padding: 7px 9px;
                }
                .f-right{
                    right: 10px;
                }
                .f-left{
                    left: 39%;
                }
            
            
        }
        .box:hover{
            background-color: $color-title;
            .box-body{
                .title{
                    color: #fff;
                }
            }
            .f-right,.f-left{
                color: #fff;
            }

        }
        
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #news{
        .list{
            div.box{
                a{
                    display: flex !important;
                    .box-img{
                        order: 1;
                        width: 50%;
                    }
                    .box-body{
                        order: 2;
                        width: 50%;
                    }
                }
                .f-left{
                    right: 10px !important;
                    left: auto;
                }
                
                
            }    
        }        
    }
}
@media (max-width: 768px){
    #news{
        .list{
            div.box{
                margin: 10px auto;
                a{
                    display: flex !important;
                    .box-img{
                        order: 1;
                        width: 50%;
                    }
                    .box-body{
                        order: 2;
                        width: 50%;
                        .title{
                            font-size: 22px;
                            padding: 20px;
                        }
                    }
                }
                .f-left, .f-right{
                    bottom: 15px;
                    font-size: 22px;
                }
                .f-left{
                    right: 10px !important;
                    left: auto;
                }
            }    
        }        
    }
}
@media (max-width: 425px){
    #news{
        .list{
            div.box{
                margin: 10px auto;
                a{
                    display: flex !important;
                    .box-img{
                        order: 1;
                        width: 50%;
                    }
                    .box-body{
                        order: 2;
                        width: 50%;
                        .title{
                            font-size: 18px;
                            padding: 20px;
                        }
                    }
                }
                .f-left, .f-right{
                    bottom: 10px;
                    font-size: 22px;
                }
                .f-left{
                    right: 10px !important;
                    left: auto;
                }
            }    
        }        
    }
}

#tienich{
    margin-top: 15px;

    .title{
        h3.title{
            color: $color-title;
            font-weight: bold;
            padding: 10px 0px;
            margin: 0px -10px;
            padding-left: 10px;
            padding-top: 0px;
            span{
                font-size: 25px;
                border-bottom: 2.5px solid $color-title;
                padding-bottom: 5px;
            }
        }
    }
    .hotro{
        background-color: #fff;
        .dichvu.collapsed{
            border-bottom: 1px solid #c4c4c4;
        }
        .dichvu{
            font-size: 20px;
            padding: 10px 5px;
            font-weight: bold;
        }
        .noidung{
            padding: 5px;
            border-bottom: 1px solid #c4c4c4;
            font-size: 16px;
        }
    }
}

.title{
    margin-top: 10px;
    .title
    {
        font-size: 20px;
        color:$color-title;

        span{
            border-bottom: 2.5px solid $color-title;    
            padding-bottom: 5px;
        }
    }
    padding-bottom: 5px;
}

footer{
    background-color: $color-title;
    .content{
        background-color: transparent;
        color: #fff;
        p{
            margin-bottom: 5px;
        }
    }
    .title{
        .title
        {
            font-size: 20px;
            color:#fff;

            span{
                border-bottom: 2.5px solid #fff;    
                padding-bottom: 5px;
            }
        }
        padding-bottom: 15px;
    }
}
.bx-viewport{
    max-height: 400px; 
}

.lienquan{
    margin-top: 15px;
    .box{
        background-color: #fff;
        .des{
            h3{
                padding: 10px 5px;
            }
        }
    }
}


div.pagination{
    display: inline-block;
    margin: 10px 0px;
    text-align: center;
    width: 100%;
    .pagination{
        margin:0px;
    }
    .pagination>li>a, .pagination>li>span{
        margin-left: 5px;
        border-radius: 50% !important;
        font-size: 15px;
        color: #3d3e3e;
    }
    .pagination>.active>a, 
    .pagination>.active>a:focus, 
    .pagination>.active>a:hover, 
    .pagination>.active>span, 
    .pagination>.active>span:focus, 
    .pagination>.active>span:hover{
        background-color: $color-title;
        color: #fff;
    }
    .pagination>li>a:focus, 
    .pagination>li>a:hover, 
    .pagination>li>span:focus, 
    .pagination>li>span:hover{
        background-color: $color-title;
        color: #fff;
    }
    .pagination>.disabled>a, 
    .pagination>.disabled>a:focus, 
    .pagination>.disabled>a:hover, 
    .pagination>.disabled>span, 
    .pagination>.disabled>span:focus, 
    .pagination>.disabled>span:hover{
        background-color: #fff;
        color: #3d3e3e;
    }
}

#menu_detail{
    @media(max-width: 425px){
        .title{
            padding:0px;
        }
    }
    .menu-list{
        .link{
            color:$color-title;
        }
    }
}